@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Inter:wght@100;200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&family=Inter:wght@100;200&family=Roboto:wght@300&display=swap');

/* * {
    outline: 1px solid red;
} */

.container {
    max-width: 1040px;
    margin: 0px auto;
    padding: 32px 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.row .left,
.row .right {
    width: 50%;
}

.section-title {
    position: relative;
    padding-left: 100px;
    /* margin-bottom: 15px; */
    color: #4338CA;
    font-size: 36px;
    line-height: 56px;
    font-weight: 700;
}

.section-title::before {
    content: "";
    height: 2px;
    width: 60px;
    background-color: #4338CA;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.h1 {
    font-size: 68px;
    font-family: 'inter' sans-serif;
    font-weight: bold;
    color: #1F2937;
}

.des {
    font-size: 18px;
    font-family: 'inter' sans-serif;
    font-weight: 400;
    color: #6B7280;
}

.btn2 {
    background: #3730A3;
    border: 1px solid black;
    border-radius: 6px;
}

.mark1 {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'inter' sans-serif;
    font-weight: 400;
}

.mark2 {
    font-size: 18px;
    font-family: 'inter' sans-serif;
    font-weight: 400;
    color: #3730A3;
}

.non {
    font-size: 12px;
    font-weight: 400;
    font-family: 'inter' sans-serif;
    color: #6B7280;
}

.container1 {
    display: flex;
    justify-content: space-between;
}

.logo-svg {
    width: 48px;
    height: 48px;
}

.nav>a {
    text-decoration: none;
    color: #6B7280;
    font-family: 'inter' sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.mark {
    text-decoration: none;
    color: #6B7280;
    font-family: 'inter' sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.btn {
    background: #FFFFFF;
    border: 1px solid #3730A3;
    border-radius: 6px;
    padding: 12px 32px;
}

.box2,
.box3,
.btn {
    margin-left: 30px;
}

.hero-section {
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.right .right-box {
    display: flex;
    justify-content: end;
    align-items: center;
}

.mn {
    font-size: 48;
    font-family: 'inter' sans-serif;
    font-weight: 600;
    align-items: center;
    color: #1F2937;
}

.spanstage {
    color: #3730A3;
}

.row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


/* .row .left1,
.row .right1 {
    width: 50%;
} */

.row .left1 {
    width: 25%;
}

.row .right1 {
    width: 75%;
}

.rightBox1 {
    display: grid;
    grid-template-rows: repeat(3, minmax(0, 1fr));
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 15px;
    padding: 12px;
}

.meow {
    font-size: 12px;
    font-family: 'inter' sans-serif;
    font-weight: 400;
    line-height: 16px;
    color: #6B7280;
}

.purr {
    font-size: 18px;
    font-family: 'inter' sans-serif;
    font-weight: 600;
    line-height: 28px;
    color: #1F2937;
}

.link>a {
    text-decoration: none;
    color: #3730A3;
    font-family: 'inter' sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.link-1 {
    display: flex;
    align-items: center;
    /* gap: 5px; */
}

.link-1>svg {
    width: 16px;
    height: 12px;
}

.container4 {
    display: block;
    background: #FEF2F2;
    padding: 15px 8px;
    align-items: center;
    text-align: center;
}

.row {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.left1,
.right2 {
    margin: 30px;
}

.rr {
    max-width: 100%;
    max-height: auto;
}

.rr .you {
    margin: 0px;
}

.you {
    color: #9CA3AF;
    font-size: 12px;
    font-weight: 500;
}


/* .rr .you > a {
    margin: 0px;
} */

.rr>a>img {
    width: 76px;
    object-fit: cover;
    object-position: center;
}

.container5 {
    width: 100%;
}

.ss {
    font-size: 50px;
    font-family: 'inter' sans-serif;
    font-weight: 600;
    line-height: 48px;
    text-align: center;
    line-height: 48px;
}

.block1 {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.leftup {
    width: 550px;
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 25px;
}

.right {
    width: 550px;
    grid-column: 1/2;
    grid-row: 2/3;
    padding-top: 25px;
}

.leftbottom1 {
    position: relative;
    width: 400px;
    grid-column: 2/3;
    grid-row: 1/3;
}

.bottom {
    width: 1110px;
    grid-column: 1/3;
    grid-row: 3/4;
}

.mz {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    width: 70%;
    margin-left: 15px;
    margin-bottom: 10px;
    background: #fff;
}

.mzt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.mzt>div>p {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}


/* .block2 {
    display: block;
    width: 100%;
}

.row3 {
    display: flex;
    width: 100%;
}

.row3 .blockleft {
    width: 50%;
    padding-right: 40px;
}

.row3 .blockleft>div>img {
    padding-top: 40px;
    width: 100%;
}

.row3 .blockleft>div #leftbott {
    padding-top: 60px;
}

.row3 .blockright {
    position: relative;
    width: 50%;
}

.row3 .blockright>img {
    position: relative;
    width: 100%;
}

 */


/* .blockleft>img,
.blockright>img {
    width: 100%;
} */


/* .blockbottom {
    margin-top: 20px;
}

.blockbottom>img {
    width: 100%;
} */


/* .right-box {
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 8px;
} */

.left,
.right {
    /* padding: 50px;
    margin-left: 30px; */
}

.list1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 52px;
    padding-right: 52px;
}

.blockbox {
    display: block;
    width: 33%;
}

.blockbox .imgwrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 6px;
    margin-right: 80px;
    margin-left: 80px;
    background: #EEF2FF;
}

.imgwrapper>img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

.des2 {
    margin-right: 80px;
    margin-left: 80px;
}

.heading {
    font-size: 48px;
    font-weight: 600;
    font-family: 'inter' sans-serif;
    text-align: center;
}

.block6 {
    width: 100%;
    align-items: center;
    padding-left: 52px;
    padding-right: 52px;
}

.careers {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.careers .company,
.careers .position,
.careers .year {
    width: 33%;
}

.contact {
    display: block;
    background: #FEF2F2;
    padding: 15px 8px;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.icons {
    display: flex;
    max-width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 60px;
}

.icons>a {
    margin-right: 15px;
}

.disclaimer {
    text-align: center;
    padding-top: 20px;
}

.h {
    font-size: 48px;
    font-weight: 500;
    font-family: 'inter' sans-serif;
    color: #374151;
}

.mu {
    max-width: 100%;
    max-height: auto;
    margin-top: 20px;
}

.mu .h,
.mu .disclaimer {
    margin: 0px;
}

.icons>a>img {
    width: 24px;
    height: 24px;
    object-fit: cover;
    object-position: center;
}